@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300;10..48,600;10..48,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  color: black;
  font-family: "Bricolage Grotesque", sans-serif;
}
body > img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  opacity: 0.5;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}

small {
  font-size: 10px;
  color: black;
}

.main {
  width: 50%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.today-date {
  font-size: 20px;
}
.today-time {
  font-size: 100px;
  margin-bottom: 30px;
}
.user {
  width: 30%;
}
#loginForm {
  position: relative;
}
.nameInput {
  width: 100%;
  padding: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 20px;
  padding-bottom: 10px;
  background: none;
  text-align: center;
}
.nameInput::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.nameInput:focus {
  outline: 0;
}

.loginForm-btn,
.greetingFrom-btn {
  width: 30px;
  padding: 9px 10px;
  border: 0;
  border-radius: 50%;
  color: white;
  background-color: rosybrown;
  position: absolute;
  top: 120%;
  right: 45%;
}

#greetingFrom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.greeting {
  font-size: 33px;
  width: 150%;
  margin-bottom: 10px;
}

.greetingFrom-btn {
  padding: 8px 10px;
  background-color: palevioletred;
  position: absolute;
  top: 80px;
}
.greeting-location {
  width: 150%;
  color: rgba(0, 0, 0, 0.5);
}

.greeting-location > i {
  margin-right: 5px;
  color: rgba(255, 0, 0, 0.5);
}

.nexBtn {
  position: absolute;
  top: 50%;
  right: 10%;
  animation: move 1s ease-in-out infinite alternate;
}
.nexBtn span {
  font-size: 50px;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

#todoScreen {
  width: 50%;
  height: 100vh;
  text-align: center;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

#todoScreen h1 {
  font-size: 28px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 25%;
  padding: 5px;
  margin-bottom: 25px;
  border-radius: 15px;
  color: white;
}

.toDoList {
  width: 50%;
  height: 250px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
}
ul > li > div {
  border: 1px solid rgba(0, 0, 0, 0.5);
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
}
.check-select {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.5);
}

li {
  padding: 8px;
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
}
li > span {
  margin-right: 10px;
  font-size: 18px;
}

li > button {
  border: 0;
  background-color: palevioletred;
  padding: 2px 4px;
  color: white;
  border-radius: 50%;
  font-size: 10px;
}

#todoForm input {
  padding: 5px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  margin-top: 25px;
  background: none;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

#todoForm input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#todoForm input:focus {
  outline: 0;
}

.bgColor {
  background-color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 950px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  body > img {
    height: 200%;
  }
  .main {
    width: 100%;
    margin-bottom: -180px;
  }
  #todoScreen {
    width: 100%;
  }
}
